openapi: 3.1.0
info:
  title: Mobile API - data source for mobile application
  version: '1.10.0'
  description: |-
    ## Description
    API documentation – data source for mobile application.

    ## Request/Response Format
    - Requests have to be encoded using the UTF-8 character set. 
    - Response format is JSON Content-Type: application/json
    - Dates are returned in ISO8601 format: YYYY-MM-DDTHH:MM:SS
  contact:
    name: Benu e-comm
    email: a.team-eshop@benu.cz
    url: 'https://www.benu.cz'
  summary: API documentation for mobile application.
servers:
  - url: 'http://cz.benu.l:8081/api/mobile/v1'
    description: Developer API
  - url: 'https://www.benu.cz/api/mobile/v1'
    description: BENU.cz
paths:
  /products:
    get:
      summary: Information about product box
      operationId: get-products
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Type'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/ActionOrigin'
      responses:
        '200':
          description: List of product boxs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductBox'
                  totalCount:
                    $ref: '#/components/schemas/TotalCount'
                required:
                  - items
                  - totalCount
              examples:
                Example 1:
                  value:
                    items:
                      - id: '1234'
                        itemId: '5594'
                        name: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                        tags:
                          - id: sale
                            name: Sleva 15%
                            value: 15%
                        price:
                          value: 160
                          valueWithoutVat: 100
                          currency: Kč
                        rrpPrice:
                          value: 160
                          valueWithoutVat: 100
                          currency: Kč
                        image:
                          id: '1234'
                          extension: jpg
                          path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                        isFavorite: true
                        rating: 0
                        productAvailability:
                          message: Skladem na e-shopu
                          isAvailable: true
                    totalCount: 10
        '404':
          $ref: '#/components/responses/NotFound'
      description: Basic data set for products list.
      tags:
        - Products
      security:
        - customer-bearer-token: []
    parameters:
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
            - bestseller
            - new
        description: Type of product
  /orders/pickup:
    get:
      summary: List of orders for personal pick-up.
      responses:
        '200':
          description: List of orders for personal pick-up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderPickup'
                required:
                  - items
              examples:
                example-1:
                  value:
                    items:
                      - id: '94'
                        orderNo: '9071500007'
                        store:
                          id: '16815'
                          name: 'Praha 1, Národní'
                          address: 'Národní 339/11, Praha 1'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: get-orders-pickup
      parameters: []
      security:
        - customer-bearer-token: []
      description: List of orders for personal pick-up for the customer identified by the token.
      tags:
        - Orders
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  /customers/coupons:
    get:
      summary: List of BENU Plus coupons for customer
      tags:
        - Customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Coupon'
                  totalCount:
                    $ref: '#/components/schemas/TotalCount'
                required:
                  - items
                  - totalCount
      operationId: get-customer-coupons
      description: List of BENU Plus coupons for the customer identified by the token.
      security:
        - customer-bearer-token: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - schema:
            type: integer
          in: query
          name: width
          description: Šířka obrázku
        - schema:
            type: integer
          in: query
          name: height
          description: Výška obrázku
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  /customers/card:
    get:
      summary: BENU card
      tags:
        - Customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardRead'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      operationId: get-customer-card
      description: Data about BENU card for the customer identified by the token.
      security:
        - customer-bearer-token: []
    post:
      summary: Creating a BENU PLUS card
      operationId: post-customer-card
      responses:
        '204':
          description: Successful created
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - customer-bearer-token: []
      description: Creates a BENU PLUS registration for the logged-in user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardWrite'
      tags:
        - Customers
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  /orders:
    get:
      summary: List of orders
      tags:
        - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        order:
                          $ref: '#/components/schemas/OrderInformation'
                        store:
                          oneOf:
                            - $ref: '#/components/schemas/OrderStore'
                            - properties: {}
                              type: 'null'
                        action:
                          $ref: '#/components/schemas/OrderAction'
                        status:
                          $ref: '#/components/schemas/OrderStatus'
                        images:
                          type: array
                          items:
                            $ref: '#/components/schemas/Image'
                      required:
                        - order
                        - store
                        - action
                        - status
                        - images
                  totalCount:
                    $ref: '#/components/schemas/TotalCount'
                required:
                  - items
                  - totalCount
              examples:
                example-1:
                  value:
                    items:
                      - order:
                          id: '94'
                          orderNo: '9071500007'
                          createAt: '2022-02-12T12:33:33'
                          isReservation: false
                          totalPrice:
                            value: 160
                            valueWithoutVat: 100
                            currency: Kč
                          productPrice:
                            value: 160
                            valueWithoutVat: 100
                            currency: Kč
                          ePrescriptionPrice:
                            insurancePayment:
                              value: 160
                              valueWithoutVat: 100
                              currency: Kč
                            voucherProductsPrice:
                              value: 160
                              valueWithoutVat: 100
                              currency: Kč
                          deliveryPrice:
                            value: 160
                            valueWithoutVat: 100
                            currency: Kč
                        store:
                          id: '16815'
                          name: 'Praha 1, Národní'
                          address: 'Národní 339/11, Praha 1'
                        action:
                          canRepeatOrder: true
                          canCancel: true
                          canExtendDelivery: true
                          reclamationUrl: 'https://www.benu.cz/vytvoreni-reklamace?order=xy&hash=xy'
                        status:
                          id: 2
                          name: Přijatá
                        images:
                          - id: '1234'
                            extension: jpg
                            path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                    totalCount: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: get-orders
      security:
        - customer-bearer-token: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      description: List of orders for the customer identified by the token.
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Order creation
      operationId: post-orders
      responses:
        '200':
          description: The order has been created. The order must be paid for.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPaymentData'
              examples: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: If the basket is not valid to create an order. E.g. if it does not have a delivery and payment method set.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
      tags:
        - Orders
      description: Endpoint to create a new order.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderWrite'
  '/orders/{id}':
    parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: Order detail
      tags:
        - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: '#/components/schemas/OrderInformation'
                  customer:
                    $ref: '#/components/schemas/CustomerRead'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderItem'
                  ePrescriptionItems:
                    type: array
                    items:
                      $ref: '#/components/schemas/EPrescriptionMedicalDeviceVoucherOrderItem'
                  action:
                    $ref: '#/components/schemas/OrderAction'
                  delivery:
                    $ref: '#/components/schemas/OrderDelivery'
                  payment:
                    $ref: '#/components/schemas/OrderPayment'
                  status:
                    $ref: '#/components/schemas/OrderStatus'
                required:
                  - order
                  - customer
                  - items
                  - action
                  - delivery
                  - payment
                  - status
              examples:
                Example 1:
                  value:
                    order:
                      id: '94'
                      orderNo: '9071500007'
                      createAt: '2022-02-12T12:33:33'
                      isReservation: false
                      totalPrice:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      productPrice:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      ePrescriptionPrice:
                        insurancePayment:
                          value: 160
                          valueWithoutVat: 100
                          currency: Kč
                        voucherProductsPrice:
                          value: 160
                          valueWithoutVat: 100
                          currency: Kč
                      deliveryPrice:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                    customer:
                      id: '1234'
                      billingAddress:
                        firstname: Karel
                        lastname: Novák
                        phone: '+420777444777'
                        street: Ulice 1
                        city: Město
                        postCode: '11100'
                        company:
                          name: Firma
                          idNumber: '1234567890'
                          vatNumber: CZ1234567890
                      deliveryAddress:
                        firstname: Karel
                        lastname: Novák
                        phone: '+420777444777'
                        street: Ulice 1
                        city: Město
                        postCode: '11100'
                        company:
                          name: Firma
                          idNumber: '1234567890'
                          vatNumber: CZ1234567890
                      email: karel.novak@seznam.cz
                      agreements:
                        mailing: true
                        personifiedNewsletter: false
                    items:
                      - id: '1234'
                        type: product
                        productId: '4321'
                        name: HealthyCo Proteinella slaný karamel 400g
                        image:
                          id: '1234'
                          extension: jpg
                          path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                        quantity: 1
                        price:
                          value: 160
                          valueWithoutVat: 100
                          currency: Kč
                        unitPrice:
                          value: 160
                          valueWithoutVat: 100
                          currency: Kč
                    ePrescriptionItems:
                      - id: '1235'
                        type: medicalDevicesVoucher
                        productId: '4321'
                        name: HealthyCo Proteinella slaný karamel 400g
                        image:
                          id: '1234'
                          extension: jpg
                          path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                        quantity: 1
                        price:
                          value: 160
                          valueWithoutVat: 100
                          currency: Kč
                        unitPrice:
                          value: 160
                          valueWithoutVat: 100
                          currency: Kč
                    action:
                      canRepeatOrder: true
                      canCancel: true
                      canExtendDelivery: true
                      reclamationUrl: 'https://www.benu.cz/vytvoreni-reklamace?order=xy&hash=xy'
                    delivery:
                      id: '1234'
                      name: Osobní odběr
                      price:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      store:
                        id: '16815'
                        name: 'Praha 1, Národní'
                        address: 'Národní 339/11, Praha 1'
                    payment:
                      id: '1234'
                      uid: PAY_REST_PAYU_CARD_PAY
                      name: Platba kartou
                      price:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                    status:
                      id: 2
                      name: Přijatá
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: get-order-id
      description: Information about order detail.
      security:
        - customer-bearer-token: []
      parameters: []
  /customers/check:
    post:
      summary: Check customer
      tags:
        - Customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - IS_ACTIVE
                      - IS_INACTIVE
                      - WITHOUT_PASSWORD
                    description: Customer status in web database.
                required:
                  - status
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-customer-check
      description: |
        Verifying the existence of a user account.

        Use-cases:
        - If the user does not exist, the endpoint returns a 404 status.
        - If the user exists and can log in, the endpoint returns status 200 and the response contains the internal status "IS_ACTIVE".
        - If the user is registered but inactive, the endpoint returns a status of 200 and the response contains an internal status of "IS_INACTIVE", an activation email is sent in the background.
        - If the user is not registered but makes a purchase, the endpoint returns a status of 200 and the response contains an internal status "WITHOUT_PASSWORD", an email is sent in the background to enter the password.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'User e-mail address '
              required:
                - email
            examples:
              example-1:
                value:
                  email: test@peckadesign.cz
        description: ''
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  /customers/reset-password:
    post:
      summary: Request for reset password
      operationId: post-customer-reset-password
      responses:
        '204':
          description: Request send
        '404':
          $ref: '#/components/responses/NotFound'
      description: |-
        Endpoint to send password reset request. In the background, it sends an email to the customer with a URL link to reset the password.

        Link from e-mail: https://www.benu.cz/obnoveni-zapomenuteho-hesla?t=TOKEN
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Customer e-mail
              required:
                - email
            examples:
              example-1:
                value:
                  email: karel.novak@seznam.cz
        description: ''
      tags:
        - Customers
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  /customers/recover-password:
    post:
      summary: Request for recover password
      operationId: post-customer-recover-password
      responses:
        '204':
          description: Password changed
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
                required:
                  - error
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
                required:
                  - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Password recovery token
                newPassword:
                  type: string
                  description: New password
              required:
                - token
                - newPassword
            examples:
              example-1:
                value:
                  token: 0uzPc3HznYbjtoAvYivg4tT7kOaCueTV
                  newPassword: MojeTajneHeslo1234
      description: Endpoint for setting a new customer account password.
      tags:
        - Customers
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  /auth/customer-authorization:
    post:
      summary: Customer account authorization
      operationId: post-auth-user-authorization
      responses:
        '200':
          $ref: '#/components/responses/Authorization'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
                required:
                  - error
              examples:
                example-1:
                  value:
                    error:
                      message: string
                      internalErrorCode: 0
      description: |-
        Endpoint for customer account authorization.

        Link from e-mail: https://www.benu.cz/registrace-potvrzeni?token=TOKEN
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hash:
                  type: string
                  description: Autorization token
              required:
                - hash
            examples:
              example-1:
                value:
                  email: karel.novak@seznam.cz
                  hash: 0uzPc3HznYbjtoAvYivg4tT7kOaCueTV
      tags:
        - Authorization
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  /auth/refresh:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Access token recovery
      operationId: post-auth-refresh
      responses:
        '200':
          $ref: '#/components/responses/Authorization'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: Token to renew the access token
              required:
                - refreshToken
            examples:
              example-1:
                value:
                  refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      description: Returns a new set of access and refresh token with new validity.
      tags:
        - Authorization
  /auth/login:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Customer login
      operationId: post-auth-login
      responses:
        '200':
          $ref: '#/components/responses/Authorization'
        '401':
          description: 'Authentication was not successful, wrong name or password.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
                required:
                  - error
              examples: {}
      tags:
        - Authorization
      description: Authentication to the system takes place by obtaining a token through this endpoint. The received token then needs to be sent in the header of every request to the API as a Bearer token.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Customer e-mail
                password:
                  type: string
                  description: Customer password
              required:
                - email
                - password
            examples:
              example-1:
                value:
                  email: karel.novak@seznam.cz
                  password: MojeTajneHeslo1234
        description: ''
  /customers:
    post:
      summary: Create new customer
      operationId: post-customer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRead'
              examples:
                example-1:
                  value:
                    id: '1234'
                    billingAddress:
                      firstname: Karel
                      lastname: Novák
                      phone: '+420777444777'
                      street: Ulice 1
                      city: Město
                      postCode: '11100'
                      company:
                        name: BENU
                        idNumber: '1234'
                        vatNumber: CZ1234
                    deliveryAddress:
                      firstname: Karel
                      lastname: Novák
                      phone: '+420777444777'
                      street: Ulice 1
                      city: Město
                      postCode: '11100'
                      company:
                        name: BENU
                        idNumber: '1234'
                        vatNumber: CZ1234
                    email: 'karel.novak@seznam.cz,'
                    agreements:
                      mailing: true
                      personifiedNewsletter: false
        '400':
          description: The data is not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
                required:
                  - error
              examples: {}
      description: Endpoint for creating a new customer.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  $ref: '#/components/schemas/CustomerWrite'
                agreements:
                  type: object
                  required:
                    - mailing
                    - personifiedNewsletter
                  properties:
                    mailing:
                      type: boolean
                      description: Consent to sending commercial messages
                    personifiedNewsletter:
                      type: boolean
                      description: Consent to the personalized newsletter
                card:
                  oneOf:
                    - $ref: '#/components/schemas/CardWrite'
                    - properties: {}
                      type: 'null'
              required:
                - customer
                - agreements
                - card
            examples:
              example-1:
                value:
                  customer:
                    billingAddress:
                      firstname: Karel
                      lastname: Novák
                      phone: '+420777444777'
                      street: Ulice 1
                      city: Město
                      postCode: '11100'
                      company:
                        name: BENU
                        idNumber: '1234'
                        vatNumber: CZ1234
                    deliveryAddress:
                      firstname: Karel
                      lastname: Novák
                      phone: '+420777444777'
                      street: Ulice 1
                      city: Město
                      postCode: '11100'
                      company:
                        name: BENU
                        idNumber: '1234'
                        vatNumber: CZ1234
                    email: karel.novak@seznam.cz
                    password: MojeTajneHeslo1234
                  agreements:
                    mailing: true
                    personifiedNewsletter: true
                  card:
                    insuranceNumber: '2012019999'
                    birthDate: '1990-01-01'
                    gender: man
                    communication: sms
                    address:
                      firstname: Karel
                      lastname: Novák
                      phone: '+420777444777'
                      street: Ulice 1
                      city: Město
                      postCode: '11100'
                      company: null
                    email: karel.novak@seznam.cz
                    password: MojeTajneHeslo1234
                    interested:
                      - DIABETES
                      - HYPERTENSION
        description: ''
      tags:
        - Customers
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    delete:
      summary: Delete customer
      operationId: delete-customers
      responses:
        '204':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - Customers
      description: Endpoint for removes the user.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: Token obtained from e-mail
              required:
                - token
    get:
      summary: Customer information
      operationId: get-customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '206':
          description: 'If the point information cannot be obtained from the BENU+ card registry, the endpoint will return partial information. The score value contains NULL, but the response body contains customer information.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - Customers
      security:
        - customer-bearer-token: []
      description: 'Information about the customer and the BENU+ card. If the number of points and the card number are NULL, it means that the user does not own the card.'
    put:
      summary: Update customer
      operationId: put-customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRead'
              examples:
                example-1:
                  value:
                    id: '1234'
                    billingAddress:
                      firstname: Karel
                      lastname: Novák
                      phone: '+420777444777'
                      street: Ulice 1
                      city: Město
                      postCode: '11100'
                      company:
                        name: BENU
                        idNumber: '1234'
                        vatNumber: CZ1234
                    deliveryAddress:
                      firstname: Karel
                      lastname: Novák
                      phone: '+420777444777'
                      street: Ulice 1
                      city: Město
                      postCode: '11100'
                      company:
                        name: BENU
                        idNumber: '1234'
                        vatNumber: CZ1234
                    email: 'karel.novak@seznam.cz,'
                    agreements:
                      mailing: true
                      personifiedNewsletter: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - Customers
      description: Endpoint for updating an existing customer.
      security:
        - customer-bearer-token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  $ref: '#/components/schemas/CustomerUpdate'
                agreements:
                  type: object
                  required:
                    - mailing
                    - personifiedNewsletter
                  properties:
                    mailing:
                      type: boolean
                      description: Consent to sending commercial messages
                    personifiedNewsletter:
                      type: boolean
                      description: Consent to the personalized newsletter
              required:
                - customer
                - agreements
        description: ''
  /products/favorite:
    post:
      summary: Mark or unmark product as favorite
      operationId: post-product-favorite
      responses:
        '200':
          description: Mark successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  product:
                    $ref: '#/components/schemas/Identifier'
                  isFavorite:
                    type: boolean
                required:
                  - product
                  - isFavorite
              examples:
                Example 1:
                  value:
                    product: '1234'
                    isFavorite: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Products
      security:
        - customer-bearer-token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  $ref: '#/components/schemas/Identifier'
              required:
                - product
        description: ''
      description: 'If the product is not favorite, it will be marked as a favorite. An already favorite product will be de-marked.'
    get:
      summary: List of the user's favorites
      operationId: get-product-favorite
      responses:
        '200':
          description: List of product boxs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductBox'
                  totalCount:
                    $ref: '#/components/schemas/TotalCount'
                required:
                  - items
                  - totalCount
        '401':
          $ref: '#/components/responses/Unauthorized'
      description: Returns a list of the user's favorites.
      security:
        - customer-bearer-token: []
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/Page'
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  /homepage/banner-menu:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: Navigation and Banner data
      parameters:
        - name: filter[hideEroticPages]
          in: query
          description: |-
            Filter to hide menu items that link to erotic content.
            - `true`: Hides menu items associated with erotic pages.
            - `false`: Includes all menu items regardless of content.
          required: false
          schema:
            type: boolean
            enum:
              - true
              - false
            default: false
      tags:
        - Homepage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  banners:
                    type: array
                    items:
                      $ref: '#/components/schemas/Banner'
                  navigations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Navigation'
      operationId: get-homepage-banner-menu
      description: Provides banner and navigation data.
  '/baskets/{hash}/products':
    parameters:
      - $ref: '#/components/parameters/Hash'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Adding the product to the basket
      operationId: post-basket-hash-product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  basketItem:
                    $ref: '#/components/schemas/BasketItemBase'
                  basketMessage:
                    $ref: '#/components/schemas/BasketMessage'
                  multiaction:
                    anyOf:
                      - $ref: '#/components/schemas/Multiaction'
                      - type: 'null'
                  addedItem:
                    type: object
                    required:
                      - price
                      - quantity
                      - hash
                    description: Information about the added product
                    properties:
                      price:
                        allOf:
                          - $ref: '#/components/schemas/Price'
                          - description: Total price of added pieces
                      quantity:
                        type: integer
                        description: Total number of added pieces
                      hash:
                        type: string
                        description: Hash of added item
                required:
                  - basketItem
                  - basketMessage
                  - multiaction
                  - addedItem
        '400':
          description: 'The product cannot be added to the basket. For example, the product may no longer be on sale, or there may not be enough in stock.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
        '409':
          description: 'The product is already added in basket.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Basket
      description: 'Endpoint for adding a product to the basket. If the product already exists in the basket, the quantity is increased.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                productId:
                  $ref: '#/components/schemas/Identifier'
                quantity:
                  type: integer
                  minimum: 0
                  description: The value by which the count is incremented
                preferredVariant:
                  type:
                    - string
                    - 'null'
                  description: Product variant if it can be set
                medicalDevicesVoucherCode:
                  oneOf:
                    - $ref: '#/components/schemas/EPrescriptionCode'
                    - type: 'null'
                  description: EPrescription voucher code
              required:
                - productId
                - quantity
                - preferredVariant
            examples:
              example-1:
                value:
                  productId: '1234'
                  quantity: 1
                  preferredVariant: null
              eprescription-voucher-product:
                value:
                  productId: '1234'
                  quantity: 1
                  preferredVariant: null
                  medicalDevicesVoucherCode: 'ASDFASQA9'
        description: Data for adding the product to the basket.
  '/orders/extends-delivery-time/{id}':
    parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Extends order delivery time
      operationId: post-orders-extends-delivery-time-id
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - customer-bearer-token: []
      tags:
        - Orders
      description: Extends the time possible to pick up the order. The endpoint only "recalls" the Mediox endpoint.
  '/orders/cancel/{id}':
    parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Cancel order
      operationId: post-order-storno-id
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Endpoint cancels the order if possible. The endpoint only "recalls" the endpoint in Mediox.
      tags:
        - Orders
      security:
        - customer-bearer-token: []
  '/orders/repeat/{id}':
    parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Repeat order
      operationId: post-order-repeat-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hash:
                    type: string
                    description: Basket hash
                  basketMessage:
                    $ref: '#/components/schemas/BasketMessage'
                required:
                  - hash
                  - basketMessage
              examples:
                Example 1:
                  value:
                    hash: 8e4a85ad16740c562e0afe8e1b302b84
                    basketMessage:
                      notices: []
                      errors: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - customer-bearer-token: []
      description: 'The items of the current order, along with shipping and payment, are added to the basket. Endpoint returns the hash of the basket, if the basket did not exist for the user, it is created.'
      tags:
        - Orders
  '/orders/invoices/{orderNo}':
    parameters:
      - $ref: '#/components/parameters/OrderNo'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: Get order invoice
      tags:
        - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                    description: Filename
                  data:
                    type: string
                    description: Invoice resource data
                required:
                  - filename
                  - data
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      operationId: get-order-invoice-id
      security:
        - customer-bearer-token: []
      description: Endpoint returns a PDF invoice resource.
  /customers/delete-request:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Account deletion request
      operationId: post-customers-delete-request
      responses:
        '204':
          description: Token sent by email
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - Customers
      description: |-
        The endpoint returns a token used to verify the account deletion request. The user is identified through a bearer token.

        Link from e-mail: https://www.benu.cz/anonymizace-potvrzeni?token=TOKEN
      security:
        - customer-bearer-token: []
  /auth/revoke:
    post:
      summary: Refresh token invalidation
      tags:
        - Authorization
      responses:
        '204':
          description: Successful invalidation
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: post-auth-revoke
      description: 'The endpoint invalidates the sent token, for example when the customer logs out.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: Refresh token to be invalidated
                deviceCode:
                  type: string
                  description: Device code
              required:
                - refreshToken
                - deviceCode
            examples:
              example-1:
                value:
                  refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  deviceCode: '12345'
        description: ''
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  '/baskets/{hash}/items/{id}':
    parameters:
      - $ref: '#/components/parameters/Hash'
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Update basket item
      tags:
        - Basket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  basket:
                    $ref: '#/components/schemas/Basket'
                  basketMessage:
                    $ref: '#/components/schemas/BasketMessage'
                  multiaction:
                    anyOf:
                      - $ref: '#/components/schemas/Multiaction'
                      - type: 'null'
                required:
                  - basket
                  - basketMessage
                  - multiaction
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-baskets-hash-items-id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  description: The value to which the quantity is set
                  minimum: 1
              required:
                - quantity
      description: Endpoint for changing the quantity of an item in the basket. Quantity must be at-least 1, to remove item from basket use DELETE method.
    delete:
      summary: Remove basket item
      operationId: delete-baskets-hash-items-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  basket:
                    $ref: '#/components/schemas/Basket'
                  basketMessage:
                    $ref: '#/components/schemas/BasketMessage'
                  multiaction:
                    anyOf:
                      - $ref: '#/components/schemas/Multiaction'
                      - type: 'null'
                required:
                  - basket
                  - basketMessage
                  - multiaction
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      description: Endpoint for removing item from basket.
      tags:
        - Basket
  '/baskets/{hash}':
    parameters:
      - $ref: '#/components/parameters/Hash'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: Basket information
      tags:
        - Basket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Basket'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-baskets-hash
      description: Endpoint for obtaining detailed information about the contents of the given basket.
  /baskets:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Creating a new basket
      operationId: post-baskets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Basket'
              examples:
                example-1:
                  value:
                    hash: '1234'
                    delivery: null
                    payment: null
                    totalPrice:
                      value: 0
                      currency: Kč
                    productTotalPrice:
                      value: 0
                      currency: Kč
                    items: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: 'If the token of the logged-in customer comes in the header and the customer already has a basket created, creating a new basket is not allowed.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
      description: |-
        Endpoint for creating a new customer basket. The endpoint must be called only when the customer does not have a shopping basket and wants to put something into it. If the endpoint is called for a logged-in customer with an already existing basket, the endpoint will return a 409 error.

        It may happen that the customer puts products in the basket and then logs in. If an existing basket is already linked under the user account, they will be merged. So this endpoint does not solve this case, it is only used to create new baskets.
      tags:
        - Basket
      security:
        - customer-bearer-token: []
  '/baskets/{hash}/delivery-methods':
    parameters:
      - $ref: '#/components/parameters/Hash'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: List of delivery methods
      tags:
        - Basket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeliveryMethod'
                  isFreeDeliveryBannerVisible:
                      type: boolean
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-baskets-hash-delivery-methods
      security:
        - customer-bearer-token: []
      description: Returns a list of delivery methods for the basket with the specified hash. The delivery methods offer is evaluated based on the content of the basket itself and the logged-in user.
    post:
      summary: Apply delivery method
      operationId: post-baskets-hash-delivery-methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Basket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      description: 'Endpoint for inserting a delivery method into the basket. If a payment method that is not compatible is already set, the selected payment method will be deleted.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deliveryMethodId:
                  $ref: '#/components/schemas/Identifier'
              required:
                - deliveryMethodId
      tags:
        - Basket
  '/baskets/{hash}/pay-methods':
    parameters:
      - $ref: '#/components/parameters/Hash'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: List of payment methods
      tags:
        - Basket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayMethodGroup'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-baskets-hash-pay-methods
      description: 'List of payment methods based on the evaluation of the contents of the basket, the logged-in user and the parameter of the chosen transport.'
      security:
        - customer-bearer-token: []
      parameters:
        - schema:
            type: string
          in: query
          name: deliveryMethodId
          description: Selected delivery method id
          required: true
    post:
      summary: Apply pay method
      operationId: post-baskets-hash-pay-methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Basket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The selected payment method is not compatible with the already set delivery method.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
      description: Applying the selected payment method to the basket.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payMethodId:
                  $ref: '#/components/schemas/Identifier'
      tags:
        - Basket
  '/baskets/{hash}/delivery-methods/personal/places':
    parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
          example: 8e4a85ad16740c562e0afe8e1b302b84
        description: Basket hash as a unique identifier
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: List of places for personal pick-up
      tags:
        - Basket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeliveryMethodPickupPlace'
                  totalCount:
                    type: integer
                    minimum: 0
                    description: The total number of records for the specified criteria
                required:
                  - items
                  - totalCount
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-baskets-hash-delivery-methods-personal-places
      parameters:
        - schema:
            type: string
            example: DEL_PERSONAL
          in: query
          name: type
          description: UID of parental delivery method
          required: true
        - schema:
            type: string
            example: Brno
          in: query
          name: address
          description: User search input
        - schema:
            type: number
            example: 49.195061
          in: query
          name: lat
          description: Latitude
        - schema:
            type: number
            example: 16.606836
          in: query
          name: lon
          description: Longitude
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - schema:
            type: boolean
          in: query
          name: init_search
          description: Automatic search during which we try to find the favorite and nearest branch
      description: 'Endpoint returns a list of places for personal pick-up (pharmacies, Zásilkovna, Parcelshop and others). The endpoint must receive the searched address or coordinates. If both inputs are filled in, the address has a higher priority. If neither input is filled in, the endpoint returns an empty field.'
      security:
        - customer-bearer-token: []
  '/baskets/{hash}/delivery-methods/slots':
    parameters:
      - $ref: '#/components/parameters/Hash'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: List of delivery slots
      tags:
        - Basket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeliveryDay'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-baskets-hash-delivery-methods-slots
      description: List of delivery slots.
      parameters:
        - schema:
            type: string
            example: '61200'
            pattern: '^[0-9]{5}$'
          in: query
          name: postCode
          required: true
          description: Post code for which the list of slots is returned
  '/baskets/{hash}/vouchers':
    parameters:
      - $ref: '#/components/parameters/Hash'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Applying of discount voucher
      operationId: post-baskets-hash-vouchers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  basket:
                    $ref: '#/components/schemas/Basket'
                  basketMessage:
                    $ref: '#/components/schemas/BasketMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Voucher exists but cannot be redeemed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    $ref: '#/components/schemas/ErrorResponseBody'
                required:
                  - error
      tags:
        - Basket
      security:
        - customer-bearer-token: []
      description: 'The customer has the option to apply a coupon, which is the total price of orders. Vouchers can be discount, value, shipping discount, specific product or brand, or products from a certain category.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: Coupon code
                  example: YKX1YH
              required:
                - code
  '/baskets/{hash}/aftersale/products':
    parameters:
      - $ref: '#/components/parameters/Hash'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      operationId: get-baskets-aftersale-products
      summary: Aftersale product's list - NOT YET IMPLEMENTED
      tags:
        - Basket
      responses:
        '200':
          description: List of aftersale products with adjsuted pricing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductBox'
                required:
                  - items
  /customers/change-password:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Password changing
      operationId: post-customers-change-password
      responses:
        '200':
          $ref: '#/components/responses/Authorization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - Customers
      description: |-
        Endpoint for changing the password of a logged-in customer.

        If the old password is incorrect, the endpoint returns a 400 error.
      security:
        - customer-bearer-token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                oldPassword:
                  type: string
                  description: Current login password
                newPassword:
                  type: string
                  description: The password that the customer wants to set
                refreshToken:
                  type: string
                  description: Actual refresh token
              required:
                - oldPassword
                - newPassword
                - refreshToken
            examples:
              example-1:
                value:
                  oldPassword: StareTajneHeslo123
                  newPassword: $NoveHeslo456
                  refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        description: ''
  /cards/orders:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: List of orders with BENU card
      tags:
        - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CardOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      operationId: get-cards-orders
      description: List of orders with BENU+ card for the customer identified by the token.
      security:
        - customer-bearer-token: []
  '/categories/{id}':
    parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: Category
      tags:
        - Categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-categories-id
      description: Endpoint to get category information.
      parameters: []
  /filter-products:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Product filtering
      operationId: post-filter-products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  filters:
                    type: array
                    description: Available parameters
                    items:
                      $ref: '#/components/schemas/ParameterFilter'
                  items:
                    type: array
                    description: List of products
                    items:
                      $ref: '#/components/schemas/ProductBox'
                  totalCount:
                    $ref: '#/components/schemas/TotalCount'
                required:
                  - filters
                  - items
                  - totalCount
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Products
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id_category:
                  oneOf:
                    - $ref: '#/components/schemas/Identifier'
                    - type: 'null'
                tag:
                  type:
                    - string
                    - 'null'
                  enum:
                    - t1
                    - t2
                    - t3
                    - t7
                    - t8
                    - t9
                    - t10
                    - t11
                    - t12
                    - t13
                  description: Tag value ID
                filter:
                  type: array
                  description: Filter value aliases
                  items:
                    type: string
                sort:
                  type:
                    - string
                    - 'null'
                  description: Sort ID
                  enum:
                    - default
                    - bestseller
                    - price-asc
                    - price-desc
                    - rating
              required:
                - id_category
                - tag
                - filter
                - sort
            examples:
              example-1:
                value:
                  id_category: '163784'
                  tag: null
                  filter:
                    - akce
                    - nejaka-znacka
                  sort: sort-default
        description: ''
      description: |-
        Endpoint returns products for a category or for a selected tag (e.g. according to the new tag). Products can be filtered according to parameters and sorted.

        It is mandatory to enter the ID of the category or the id of the tag.

        Tags:
        - t1 = new
        - t2 = action
        - t3 = clerance
        - t7 = second quality
        - t8 = free delivery
        - t9 = advantage pack
        - t10 = recommended
        - t11 = black friday
        - t12 = expiration
        - t13 = tip
      parameters:
        - $ref: '#/components/parameters/Page'
  '/products/{id}':
    parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: Product detail
      tags:
        - Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-products-id
      description: Endpoint returns all product detail information.
      security:
        - customer-bearer-token: []
  /baskets/merge:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Merge baskets
      operationId: post-baskets-merge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Basket'
        '401':
          $ref: '#/components/responses/Unauthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                oldBasketHash:
                  type: string
            examples:
              Example 1:
                value:
                  oldBasketHash: string
      security:
        - customer-bearer-token: []
      tags:
        - Basket
      description: Merges the cart according to the entered hash with the customer's current cart.
  '/orders/pay/{id}':
    parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    post:
      summary: Order payment
      tags:
        - Orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPaymentData'
              examples: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServerError'
      operationId: get-orders-pay-id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                authorizationCode:
                  type: string
                  description: Authorization code from PayU
              required:
                - authorizationCode
            examples:
              Example 1:
                value:
                  authorizationCode: '123456'
        description: ''
      description: 'Endpoint for paying the order using the Google Pay, Apple Pay or credit card payment method.'
  /notifications/subscribe:
    post:
      summary: Sign up for notifications
      operationId: post-notification-subscribe
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - customer-bearer-token: []
      description: Endpoint subscribes the device to receive notifications. The endpoint optionally expects a bearer token.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
      tags:
        - Authorization
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
  /router:
    parameters:
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: Router for alias translation
      tags:
        - Router
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Router'
      operationId: get-router-alias
      description: Translates the specified alias into an entity ID and its type.
      parameters:
        - schema:
            type: string
            example: pripravky-na-svedeni-kuze-a-hlavy
          in: query
          name: alias
          required: true
          description: he alias of the page that needs to be translated
  '/products/{id}/availability':
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Identificator
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: Product availability
      tags:
        - Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeliveryMethodPickupPlace'
                  totalCount:
                    type: integer
                    minimum: 0
                    description: The total number of records for the specified criteria
                required:
                  - items
                  - totalCount
          headers: {}
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: get-products-id-availability
      security:
        - customer-bearer-token: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - schema:
            type: string
            example: Brno
          in: query
          name: address
          description: User search input
        - schema:
            type: string
          in: query
          description: Automatic search during which we try to find the favorite and nearest branch
          name: init_search
        - schema:
            type: string
            example: '49.195061'
          in: query
          name: lat
          description: Latitude
        - schema:
            type: string
            example: '16.606836'
          in: query
          name: lon
          description: Longitude
  '/eprescription/voucher/{code}':
    parameters:
      - $ref: '#/components/parameters/EprescriptionVoucherCode'
      - $ref: '#/components/parameters/EprescriptionVoucherCodeValidationType'
      - $ref: '#/components/parameters/UserAgent'
      - $ref: '#/components/parameters/ActionOrigin'
    get:
      summary: ePrescription voucher (ePoukaz) data
      tags:
        - ePrescription
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EPrescriptionVoucher'
              examples:
                voucher-with-unknown-product:
                  value:
                    code: BQQQ5AOHD
                    expiration: '2024-05-16 00:00:00'
                    quantity: 1
                    states:
                      - state: UNKNOWN_PRODUCT
                        isPrimary: true
                        message:
                          type: INFO
                          title: Produkt není skladem. Nastavte si hlídacího psa.
                          content: Hlídací pes....
                    price: null
                    product:
                      name: 'PARALEN 500MG neobalené tablety 24'
                      images: []
                      voucherAllowed: false
                      sukl:
                        code: '12345'
                        type: human
                ok-voucher:
                  value:
                    code: BQQQ5AOHD
                    expiration: '2024-05-16 00:00:00'
                    quantity: 1
                    message: null
                    states:
                      - state: OK
                        isPrimary: true
                        message: null
                    price:
                      insurancePayment:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      productPrice:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      price:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      calculatedQuantity: 1
                    product:
                      id: '1234'
                      name: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                      title: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                      alias: 'milgamma-n-40mg-90mg-025mg-mekke-tobolky-100'
                      images:
                        - id: '1234'
                          extension: jpg
                          path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                      price:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      rrpPrice:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      isFavorite: true
                      rating: 0
                      flags:
                        - id: sale
                          name: Sleva 15%
                          value: 15%
                      deliveryDateList:
                        - name: BENU Expres
                          date: '2022-12-24'
                          time: '14:00:00'
                      preferredVariant:
                        - string
                      icons:
                        - name: Bez lepku
                          image:
                            id: '1234'
                            extension: jpg
                            path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                      description: string
                      dosageDescription: string
                      ingredientsDescription: string
                      contraindicationDescription: string
                      parameters:
                        - id: '1234'
                          name: Výrobce
                          value: Opella
                          pageId: '13578'
                      leafletDescription: string
                      leafletUrl: string
                      reviews:
                        - date: '2019-08-24'
                          rating: 4.5
                          content: Vynikající prostředek při prořezávání zoubků.
                      similarProducts:
                        - id: '1234'
                          name: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                          tags:
                            - id: sale
                              name: Sleva 15%
                              value: 15%
                          price:
                            value: 160
                            valueWithoutVat: 100
                            currency: Kč
                          rrpPrice:
                            value: 160
                            valueWithoutVat: 100
                            currency: Kč
                          image:
                            id: '1234'
                            extension: jpg
                            path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                          isFavorite: true
                          rating: 0
                          productAvailability:
                            message: Skladem na e-shopu
                            isAvailable: true
                      productAvailability:
                        message: Skladem na e-shopu
                        isAvailable: true
                        pharmacyAvailabilityCount: 0
                        favoritePharmacyAvailability: true
                      sukl:
                        code: string
                        type: human
                      advantageousPackages:
                        - id: '1234'
                          description: Balíček produktů 6 ks
                          image:
                            id: '1234'
                            extension: jpg
                            path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                          discount:
                            value: 120
                            currency: Kč
                          price:
                            value: 2754
                            currency: Kč
                          unitPrice:
                            value: 459
                            currency: Kč
                      isErotic: true
                voucher-with-unsupported-state:
                  value:
                    code: BQQQ5AOHD
                    expiration: '2024-05-16 00:00:00'
                    quantity: 1
                    states:
                      - state: NOT_SUPPORTED_STATE
                        isPrimary: true
                        message:
                          type: ERROR
                          title: V túto chvíli nemůžeme epoukaz spracovat
                          content: Váš epoukaz byl již vydán nebo čeká na doplnení od informací od lékaře.
                    price:
                      insurancePayment:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      productPrice:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      price:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                    product:
                      id: '1234'
                      name: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                      title: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                      alias: 'milgamma-n-40mg-90mg-025mg-mekke-tobolky-100'
                      itemId: '5567'
                      images:
                        - id: '1234'
                          extension: jpg
                          path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                      price:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      rrpPrice:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      isFavorite: true
                      rating: 0
                      flags:
                        - id: sale
                          name: Sleva 15%
                          value: 15%
                      deliveryDateList:
                        - name: BENU Expres
                          date: '2022-12-24'
                          time: '14:00:00'
                      preferredVariant:
                        - string
                      icons:
                        - name: Bez lepku
                          image:
                            id: '1234'
                            extension: jpg
                            path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                      description: string
                      dosageDescription: string
                      ingredientsDescription: string
                      contraindicationDescription: string
                      parameters:
                        - id: '1234'
                          name: Výrobce
                          value: Opella
                          pageId: '13578'
                      leafletDescription: string
                      leafletUrl: string
                      reviews:
                        - date: '2019-08-24'
                          rating: 4.5
                          content: Vynikající prostředek při prořezávání zoubků.
                      similarProducts:
                        - id: '1234'
                          itemId: '5594'
                          name: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                          tags:
                            - id: sale
                              name: Sleva 15%
                              value: 15%
                          price:
                            value: 160
                            valueWithoutVat: 100
                            currency: Kč
                          rrpPrice:
                            value: 160
                            valueWithoutVat: 100
                            currency: Kč
                          image:
                            id: '1234'
                            extension: jpg
                            path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                          isFavorite: true
                          rating: 0
                          productAvailability:
                            message: Skladem na e-shopu
                            isAvailable: true
                      productAvailability:
                        message: Skladem na e-shopu
                        isAvailable: true
                        pharmacyAvailabilityCount: 0
                        favoritePharmacyAvailability: true
                      sukl:
                        code: string
                        type: human
                      advantageousPackages:
                        - id: '1234'
                          description: Balíček produktů 6 ks
                          image:
                            id: '1234'
                            extension: jpg
                            path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                          discount:
                            value: 120
                            currency: Kč
                          price:
                            value: 2754
                            currency: Kč
                          unitPrice:
                            value: 459
                            currency: Kč
                      isErotic: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-eprescription-voucher-details
      description: Returns data about ePrescription voucher
    post:
      summary: ePrescription voucher (ePoukaz) data
      description: Returns data about ePrescription voucher with price counted regarding selected pricing strategy
      tags:
        - ePrescription
      operationId: post-eprescription-voucher-details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                  - $ref: '#/components/schemas/EPrescriptionMaxOrderableQuantityRequest'
                  - $ref: '#/components/schemas/EPrescriptionSelectedQuantityRequest'
              discriminator:
                  propertyName: pricingStrategy
                  mapping:
                    "MAXIMUM_EPRESCRIPTION_ORDERABLE_QUANTITY": '#/components/schemas/EPrescriptionMaxOrderableQuantityRequest'
                    "SELECTED_QUANTITY": '#/components/schemas/EPrescriptionSelectedQuantityRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EPrescriptionVoucher'
              examples:
                voucher-with-unknown-product:
                  value:
                    code: BQQQ5AOHD
                    expiration: '2024-05-16 00:00:00'
                    quantity: 1
                    states:
                      - state: UNKNOWN_PRODUCT
                        isPrimary: true
                        message:
                          type: INFO
                          title: Produkt není skladem. Nastavte si hlídacího psa.
                          content: Hlídací pes....
                    price: null
                    product:
                      name: 'PARALEN 500MG neobalené tablety 24'
                      images: []
                      voucherAllowed: false
                      sukl:
                        code: '12345'
                        type: human
                ok-voucher:
                  value:
                    code: BQQQ5AOHD
                    expiration: '2024-05-16 00:00:00'
                    quantity: 1
                    message: null
                    states:
                      - state: OK
                        isPrimary: true
                        message: null
                    price:
                      insurancePayment:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      productPrice:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      price:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      calculatedQuantity: 1
                    product:
                      id: '1234'
                      name: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                      title: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                      alias: 'milgamma-n-40mg-90mg-025mg-mekke-tobolky-100'
                      images:
                        - id: '1234'
                          extension: jpg
                          path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                      price:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      rrpPrice:
                        value: 160
                        valueWithoutVat: 100
                        currency: Kč
                      isFavorite: true
                      rating: 0
                      flags:
                        - id: sale
                          name: Sleva 15%
                          value: 15%
                      deliveryDateList:
                        - name: BENU Expres
                          date: '2022-12-24'
                          time: '14:00:00'
                      preferredVariant:
                        - string
                      icons:
                        - name: Bez lepku
                          image:
                            id: '1234'
                            extension: jpg
                            path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                      description: string
                      dosageDescription: string
                      ingredientsDescription: string
                      contraindicationDescription: string
                      parameters:
                        - id: '1234'
                          name: Výrobce
                          value: Opella
                          pageId: '13578'
                      leafletDescription: string
                      leafletUrl: string
                      reviews:
                        - date: '2019-08-24'
                          rating: 4.5
                          content: Vynikající prostředek při prořezávání zoubků.
                      similarProducts:
                        - id: '1234'
                          name: 'MILGAMMA N 40MG/90MG/0,25MG měkké tobolky 100'
                          tags:
                            - id: sale
                              name: Sleva 15%
                              value: 15%
                          price:
                            value: 160
                            valueWithoutVat: 100
                            currency: Kč
                          rrpPrice:
                            value: 160
                            valueWithoutVat: 100
                            currency: Kč
                          image:
                            id: '1234'
                            extension: jpg
                            path: 'https://www.benu.cz/data/images/_orig/6/169186.jpg'
                          isFavorite: true
                          rating: 0
                          productAvailability:
[...]
